In [2]:
import pandas as pd
import pymongo
df=pd.read_csv('New_Second_Hand_car.csv')

In [3]:
df.head()

,Unnamed: 0,Company Name,Car Name,Fuel Type,Tyre Condition,Make Year,Owner Type,Registration Number,Mileage,Engine Number,Chassis Number,Transmission Type,Body Color,Service Record,Insurance,Registration Certificate,Accessories,Price
0,0,Renault,Kwid,Petrol,Needs Replacement,2022,First,TN-XX-XX-XXXX,45796,239-73-7748-87,6169-3043-3070,NaN,Blue,Major Service at 123653 km,No Current Insurance,Not Available,NaN,531720.0
1,1,MG,Astor,Petrol,Needs Replacement,2022,Fourth,JS-XX-XX-XXXX,179853,304-67-9740-52,8429-2985-7840,Automatic (Tiptronic),Blue,Full Service History,No Current Insurance,Not Available,"Sunroof, Alloy Wheels, Music System, GPS",1185240.0
2,2,MG,Gloster,Petrol,New,2015,Second,DL-XX-XX-XXXX,27017,375-87-9097-89,9769-1737-7783,Automatic,NaN,Full Service History,No Current Insurance,Not Available,"Sunroof, Alloy Wheels, GPS",1200360.0
3,3,Toyota,Etios,Diesel,Used,2022,Fourth,TS-XX-XX-XXXX,72664,697-23-7552-35,3202-6143-7058,NaN,Gold,,Valid Until [date],Not Available,"Sunroof, Alloy Wheels, Music System, Leather S...",683760.0
4,4,Kia,Carens,Petrol,New,2023,Second,KL-XX-XX-XXXX,37606,582-36-2284-83,1901-8986-3880,NaN,Silver,No Service Record,Valid Until [date],Available,"Alloy Wheels, GPS",1471080.0

In [4]:
df.shape

(315000, 18)

In [5]:
import random
sample_df=df.sample(n=10000,random_state=42)

In [7]:
data=sample_df.to_dict(orient='records')

In [8]:
DB_NAME='Proj1'
COLLECTION_NAME='PROJ1-DATA'
CONNECTION_URL='mongodb+srv://bhardwajsourav113:a9YQMZeJa8YdmYGr@cluster0.tqpcjk1.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'

In [9]:
client=pymongo.MongoClient(CONNECTION_URL)
data_base= client[DB_NAME]
collection= data_base[COLLECTION_NAME]

In [10]:
rec= collection.insert_many(data)

In [11]:
df=pd.DataFrame(list(collection.find()))

In [12]:
df.head(10)

,_id,Unnamed: 0,Company Name,Car Name,Fuel Type,Tyre Condition,Make Year,Owner Type,Registration Number,Mileage,Engine Number,Chassis Number,Transmission Type,Body Color,Service Record,Insurance,Registration Certificate,Accessories,Price
0,688a0709b2a47d152dbabb33,101634,Nissan,Kicks,Diesel,Used,2022,Third,KL-XX-XX-XXXX,103614,879-69-6171-37,2993-9136-1458,Manual,Grey,,No Current Insurance,Available,"Alloy Wheels, Leather Seats, GPS, Sunroof",797160.0
1,688a0709b2a47d152dbabb34,39359,Toyota,Land Cruiser,Diesel,Used,2021,Third,PB-XX-XX-XXXX,141586,323-92-7585-50,3113-7647-5082,Automatic (Tiptronic),Black,No Service Record,Valid Until [date],,"Alloy Wheels, GPS, Leather Seats, Sunroof",2701800.0
2,688a0709b2a47d152dbabb35,199417,TATA,Nexon,Petrol,New,2022,Fourth,AP-XX-XX-XXXX,178125,760-76-6334-46,5751-3483-1328,Automatic,Black,Full Service History,,,"Music System, GPS, Leather Seats",1217916.0
3,688a0709b2a47d152dbabb36,27306,Volkswagen,Vento,Petrol,Needs Replacement,2018,Third,AP-XX-XX-XXXX,132880,842-93-2087-46,5138-4129-5929,Automatic (Tiptronic),Blue,No Service Record,,Available,"Leather Seats, GPS",919880.0
4,688a0709b2a47d152dbabb37,194809,Mahindra,XUV300,Petrol,Needs Replacement,2023,Third,MP-XX-XX-XXXX,174059,989-67-2988-84,5830-2543-8643,Manual,White,Full Service History,Valid Until [date],,Leather Seats,1173920.0
5,688a0709b2a47d152dbabb38,166744,Mahindra,Bolero,Petrol,Used,2022,Fourth,TS-XX-XX-XXXX,164119,531-19-5825-29,3935-2363-2233,Manual,Silver,,,Not Available,"Alloy Wheels, Music System, Sunroof, Leather S...",838320.0
6,688a0709b2a47d152dbabb39,238423,Toyota,Fortuner,Petrol,Needs Replacement,2015,Third,MP-XX-XX-XXXX,140984,190-92-5018-39,8620-8952-5297,Manual,Red,Major Service at 105278 km,Valid Until [date],,"GPS, Alloy Wheels, Music System, Sunroof",1184960.0
7,688a0709b2a47d152dbabb3a,5894,Mahindra,XUV700,Petrol,Needs Replacement,2020,Fourth,AP-XX-XX-XXXX,114581,625-62-1466-49,9055-7526-7572,Automatic (Tiptronic),Black,Full Service History,No Current Insurance,Available,"Leather Seats, GPS, Sunroof, Music System",1699320.0
8,688a0709b2a47d152dbabb3b,314903,Kia,Carens,Petrol,Needs Replacement,2018,First,KL-XX-XX-XXXX,197642,444-80-1981-92,6924-8630-7503,NaN,White,No Service Record,Valid Until [date],Not Available,"GPS, Sunroof, Music System",831480.0
9,688a0709b2a47d152dbabb3c,100696,Mahindra,Bolero,Petrol,New,2021,Fourth,JS-XX-XX-XXXX,179462,112-11-3622-90,5811-7932-3733,Automatic,Grey,No Service Record,,,GPS,758480.0

In [14]:
df['Car Name'].unique()

array(['Kicks', 'Land Cruiser', 'Nexon', 'Vento', 'XUV300', 'Bolero',
       'Fortuner', 'XUV700', 'Carens', 'Scorpio', 'WR-V', 'Amaze',
       'KUV100', 'Etios', 'Tiago', 'Creta', 'City', 'Accord',
       'Innova Crysta', 'Seltos', 'Tiguan', 'Ignis', 'Polo', 'Alto',
       'T-Roc', 'Punch', 'Glanza', 'Urban Cruiser', 'Hector Plus',
       'Gloster', 'Thar', 'Kwid', 'Carnival', 'Omni', 'Astor', 'Alcazar',
       'Hector', 'Micra', 'S-Presso', 'Sonet', 'Baleno', 'Altroz',
       'Innova', 'Kiger', 'X-Trail', 'Dzire', 'Tigor', 'i20', 'CR-V',
       'Civic', 'Santro', 'Triber', 'Brezza', 'Jazz', 'Exter', 'Ertiga',
       'Harrier', 'Ioniq', 'Aura', 'Verna', 'Ciaz', 'Swift', 'Camry',
       'Magnite', 'Sunny', 'Taigun', 'Safari', 'Marazzo', 'Corolla',
       'Yaris', 'Venue', 'Celerio', 'Eeco', 'i10'], dtype=object)

In [16]:
df.shape

(10000, 19)