In [2]:
import pandas as pd
import pymongo
df=pd.read_csv('New_Second_Hand_car.csv')

In [3]:
df.head()

,Unnamed: 0,Company Name,Car Name,Fuel Type,Tyre Condition,Make Year,Owner Type,Registration Number,Mileage,Engine Number,Chassis Number,Transmission Type,Body Color,Service Record,Insurance,Registration Certificate,Accessories,Price
0,0,Renault,Kwid,Petrol,Needs Replacement,2022,First,TN-XX-XX-XXXX,45796,239-73-7748-87,6169-3043-3070,NaN,Blue,Major Service at 123653 km,No Current Insurance,Not Available,NaN,531720.0
1,1,MG,Astor,Petrol,Needs Replacement,2022,Fourth,JS-XX-XX-XXXX,179853,304-67-9740-52,8429-2985-7840,Automatic (Tiptronic),Blue,Full Service History,No Current Insurance,Not Available,"Sunroof, Alloy Wheels, Music System, GPS",1185240.0
2,2,MG,Gloster,Petrol,New,2015,Second,DL-XX-XX-XXXX,27017,375-87-9097-89,9769-1737-7783,Automatic,NaN,Full Service History,No Current Insurance,Not Available,"Sunroof, Alloy Wheels, GPS",1200360.0
3,3,Toyota,Etios,Diesel,Used,2022,Fourth,TS-XX-XX-XXXX,72664,697-23-7552-35,3202-6143-7058,NaN,Gold,,Valid Until [date],Not Available,"Sunroof, Alloy Wheels, Music System, Leather S...",683760.0
4,4,Kia,Carens,Petrol,New,2023,Second,KL-XX-XX-XXXX,37606,582-36-2284-83,1901-8986-3880,NaN,Silver,No Service Record,Valid Until [date],Available,"Alloy Wheels, GPS",1471080.0

In [4]:
df.shape

(315000, 18)

In [5]:
# Drop rows with any missing values
df_cleaned = df.dropna()
print("Shape after dropping rows with NaN:", df_cleaned.shape)

Shape after dropping rows with NaN: (168126, 18)

In [6]:
import random
df_sample = df_cleaned.sample(n=10000, random_state=42)
print("Shape after sampling 10,000 rows:", df_sample.shape)

Shape after sampling 10,000 rows: (10000, 18)

In [7]:
data=df_sample.to_dict(orient='records')

In [8]:
DB_NAME='Proj1'
COLLECTION_NAME='PROJ1-DATA'
CONNECTION_URL='mongodb+srv://bhardwajsourav113:jJP5lbCiSdh6bz5W@cluster0.e1byesq.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'

In [9]:
client=pymongo.MongoClient(CONNECTION_URL)
data_base= client[DB_NAME]
collection= data_base[COLLECTION_NAME]

In [10]:
rec= collection.insert_many(data)

In [11]:
df=pd.DataFrame(list(collection.find()))

In [12]:
df.isnull().sum()

_id                         0
Unnamed: 0                  0
Company Name                0
Car Name                    0
Fuel Type                   0
Tyre Condition              0
Make Year                   0
Owner Type                  0
Registration Number         0
Mileage                     0
Engine Number               0
Chassis Number              0
Transmission Type           0
Body Color                  0
Service Record              0
Insurance                   0
Registration Certificate    0
Accessories                 0
Price                       0
dtype: int64

In [23]:
df['Fuel Type'].unique()

array(['Petrol', 'Diesel'], dtype=object)

In [20]:
df['Insurance'].value_counts()

Insurance
Valid Until [date]      3404
                        3348
No Current Insurance    3248
Name: count, dtype: int64

In [22]:
df['Tyre Condition'].value_counts()

Tyre Condition
New                  3356
Used                 3340
Needs Replacement    3304
Name: count, dtype: int64